/* proSilver Board_Rules Styles
---------------------------------------- */

#rules .faq  {
	padding-left: 20px;
	padding-right: 10px;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

#rules .faq a {
	font-weight: bold;
}

#rules dl.faq1  {
	padding-left: 40px;
}

#rules .faq1  dd {
	margin-top: 1em;
}

#rules .fragment {
	background-color: #ECD5D8;
	color: #9C2A4D;
	margin: -2px;
	padding: 5px;
}

#rules .fragment a {
	color: #9C2A4D;
}

#rules ul, #rules ol {
	margin-bottom: 0;
}

#rules li {
	padding-top: 0.7em;
}

#rules .contents {
	font-size: 1.1em;
	padding: 0.4em 0;
	border-bottom: 1px solid #CCCCCC;
}

#rules span.hr {
	display: block;
	margin-left: 22px;
	margin-right: 10px;
	border-bottom: 1px dashed #CCCCCC;
}
